<html lang="en" class="wf-lato-n4-active wf-active" style="height: 100%;"><head>
<meta charset="utf-8">
<link rel = "stylesheet" href = "myStyle.css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<s' + 'cript src="js/vendor/html5shiv.js">' + '<' + '/s' + 'cript>');</script>
<![endif]-->
<title>Lost and Found</title>
<script type="text/javascript" async="" src="https://checkout.stripe.com/checkout.js"></script><script type="text/javascript" async="" src="https://cdn.mxpnl.com/libs/mixpanel-2.2.min.js"></script><script type="text/javascript">
window.load_error_log = [];
window.onerror = function(msg, error_url, line, col) {
    window.load_error_log.push({msg, error_url, line, col});
}
</script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
    window._bubble_page_load_data = {}
}
window._bubble_page_load_data['pre_early'] = Date.now();
</script>
<meta name="referrer" content="origin">
<script type="text/javascript" crossorigin="anonymous" src="https://dhtiece9044ep.cloudfront.net/package/early_js/011d06d55963daa276fbc2d7cb971df7c3a2097a0fdd16d840686d64b36c0d24/xfalse"></script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
    window._bubble_page_load_data = {}
}
window._bubble_page_load_data['post_early'] = Date.now();
</script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato"><script type="text/javascript">WebFontConfig = {
'google': { families: ["Lato"] },
    active: function() {
        window.google_web_fonts_active = true;
        if (window.google_web_fonts_active_cb) {
            window.google_web_fonts_active_cb();
        }
    },
    fontinactive: function() {
        console.log('fontinactive being called, Google says the fonts didnt render');
        window.google_web_fonts_active = true;
        if (window.google_web_fonts_active_cb) {
            window.google_web_fonts_active_cb();
        }
    }
}
window.WebFont.load(WebFontConfig);</script>
<script type="text/javascript">window.gm_key = "AIzaSyDrc7Z2Xh0LNmHty4bO9Jine0mnKpx6p9Q";</script>
<script type="text/javascript">window.glrl_key_status = false;</script>

<meta name="fragment" content="!">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:url" content="https://lostandfound.bubbleapps.io/">
<meta property="og:type" content="website">
<meta name="viewport" content="width=873">
<script type="text/javascript">window._p ='{"no_branding":true,"import_export_csv":true,"custom_domain":true}';</script>
<link type="text/css" href="https://dhtiece9044ep.cloudfront.net/package/run_css/7d3cde66d85df602cbec627307f48ecdc9b1e1d643433117f30cebf4a3b7b7f6/lostandfound/live/index/xfalse/xfalse" rel="stylesheet">
<script type="text/javascript">
if (!window._bubble_page_load_data) {
    window._bubble_page_load_data = {}
}
window._bubble_page_load_data['pre_runjs'] = Date.now();
</script>
<script type="text/javascript" crossorigin="anonymous" src="https://dhtiece9044ep.cloudfront.net/package/run_js/ff18c84522c39d98c9851424f359f3d198a874413d70ac61e2961598edc14ced/xfalse/x5"></script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
    window._bubble_page_load_data = {}
}
window._bubble_page_load_data['post_runjs'] = Date.now();
</script>
<script type="text/javascript" crossorigin="anonymous" src="https://dhtiece9044ep.cloudfront.net/package/run_js_page/1d51c5cfcbaac05d8874332ec485dbce5b56d4817bb738dc2bb1d6fbed51f741/lostandfound/live/index/xnull/xfalse/xfalse/xfalse/en_us/xfalse/xfalse"></script>
<script type="text/javascript">
if (!window._bubble_page_load_data) {
    window._bubble_page_load_data = {}
}
window._bubble_page_load_data['post_runjspage'] = Date.now();
</script>
<script type="text/javascript">Lib().db_instance().initialize_data("1558035777215x393271039516778240", {"Created By":"1348695171700984260__LOOKUP__1558035777215x393271039516778240","Created Date":1558035777228,"Modified Date":1558035777229,"_id":"1558035777215x393271039516778240","_version":51657,"_type":"user"}, "user", 51657);</script>

<link rel = "icon" href ="cam.ico" type = "image/x-icon">
</head>
<body style="box-sizing: border-box; height: 100%;"><script type="text/javascript">

if (window.appquery == null) {
    css = document.createElement('style');
css.type='text/css';
css.appendChild(document.createTextNode(".warning-message-failure {padding: 30px; line-height: 1.5; white-space: pre; z-index: 1000000; position: fixed; width: 100%; height: 100%; background: white;}"));
document.getElementsByTagName("head")[0].appendChild(css);
var newDiv = document.createElement("div");
newDiv.className = "warning-message-failure";
newDiv.innerHTML = "Your browser was unable to load some necessary resources, contact your IT network administrator and ask him or her to allow access to <br><br>     dhtiece9044ep.cloudfront.net <br>     dd7tel2830j4w.cloudfront.net/ <br>     d1muf25xaso8hp.cloudfront.net";
document.body.appendChild(newDiv);
    httpRequest = new XMLHttpRequest();
httpRequest.open('POST', '/user/m', true);
httpRequest.setRequestHeader('Content-Type', 'application/json');
httpRequest.send(JSON.stringify({measures: {page_load_error: 1, url: document.location.href, errors: window.load_error_log}}));
};
</script><script type="text/javascript">if (window.appquery && window.app == null) {css = document.createElement('style');
css.type='text/css';
css.appendChild(document.createTextNode(".warning-message-failure {padding: 30px; line-height: 1.5; white-space: pre; z-index: 1000000; position: fixed; width: 100%; height: 100%; background: white;}"));
document.getElementsByTagName("head")[0].appendChild(css);
var newDiv = document.createElement("div");
newDiv.className = "warning-message-failure";
newDiv.innerHTML = "Your browser was unable to load the application data. We've been notified of the issue. Please try again in a few moments and make sure not to use ad-blockers.";
document.body.appendChild(newDiv);};</script>
<div style="display: none;">75849jkl432ggfdfdjsakl</div>

<div class="main-page bubble-element Page" style="width: 873px; height: 581px; min-height: 100%; margin-right: auto; margin-left: auto; position: relative; z-index: 2; box-sizing: border-box;">

<a class="bubble-element Link clickable-element" target="_self" href="FoundObj.html" style="box-sizing: border-box; position: absolute; z-index: 2; left: 10px; top: 216px; width: 305px; height: 200px; white-space: pre-wrap; text-decoration: none; word-break: break-word; font-family: Lato; font-size: 36px; color: rgb(255, 255, 255); text-align: center; letter-spacing: 1px; word-spacing: 4px; line-height: 1.5; padding-top: 40px; border-radius: 0px; background: none rgb(0, 181, 24);"><div class="content">I FOUND SOMETHING</div></a>

<a class="bubble-element Link clickable-element" target="_self" href="Lost.html" style="box-sizing: border-box; position: absolute; z-index: 3; left: 558px; top: 216px; width: 305px; height: 200px; white-space: pre-wrap; text-decoration: none; word-break: break-word; font-family: Lato; font-size: 36px; color: rgb(255, 255, 255); text-align: center; letter-spacing: 1px; word-spacing: 4px; line-height: 1.5; padding-top: 40px; border-radius: 0px; background: red;"><div class="content">I LOST SOMETHING</div></a>

<div class="bubble-element Text" style="box-sizing: border-box; position: absolute; z-index: 4; left: 126px; top: 538px; width: 620px; height: 31px; overflow: visible; font-family: Lato; font-size: 14px; color: rgb(156, 156, 156); text-align: center; line-height: 1; border-radius: 0px;"><div>(Copyright By Muhammad Salman & Umer Mehmood)</div>

</div>

<a class="bubble-element PoweredByBubble" href="https://bubble.is?utm_source=user_icon" target="_blank" style="box-sizing: border-box; position: absolute; z-index: 5; left: 784px; top: 521px; width: 79px; height: 42px;"><div class="powered-by-bubble" style="border-radius: 3px; padding: 3px; height: 100%; width: 100%; text-align: center; border: 1px solid transparent;"><!--?xml version="1.0" encoding="utf-8"?-->

</div></a></div>

<div class="stripe-container backdrop" style="z-index: 1; position: absolute; top: 0px; width: 100%; overflow: hidden; height: 754.4px; background: none rgb(240, 240, 240);"></div><div class="page-is-loaded"></div><iframe frameborder="0" allowtransparency="true" src="https://checkout.stripe.com/m/v3/index-3f0dc197837628f45156bf4f7ed0f6ad.html?distinct_id=48bb9cf2-85f3-0140-7231-baf2be0cef07" name="stripe_checkout_app" class="stripe_checkout_app" style="z-index: 2147483647; display: none; background: rgba(0, 0, 0, 0.004); border: 0px none transparent; overflow: hidden auto; visibility: visible; margin: 0px; padding: 0px; -webkit-tap-highlight-color: transparent; position: fixed; left: 0px; top: 0px; width: 100%; height: 100%;"></iframe></body></html>